html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

body {
  font-family: poppins;
  overflow: hidden;
}

.app {
  align-items: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  text-align: center;
}

.info {
  margin: 5rem;

  h1 {
    font-size: 52px;
    font-weight: 500;
  }

  p {
    font-size: 25px;
  }
}

.pads {
  background-color: #000;
  display: flex;
  width: 100%;
  z-index: 1;

  > div {
    cursor: pointer;
    flex: 1;
    height: 150px;
  }
}

.pad {
  &1 {
    background-color: #27ae60;
  }

  &2 {
    background-color: #3498db;
  }

  &3 {
    background-color: #e67e22;
  }

  &4 {
    background-color: #f1c40f;
  }

  &5 {
    background-color: #9b59b6;
  }

  &6 {
    background-color: #e74c3c;
  }
}

.visual {
  .circle {
    animation: wave 1s ease-in-out normal both;
    background-color: #000;
    border-radius: 50%;
    height: 50px;
    left: 0;
    left: 60%;
    position: absolute;
    top: calc(100% - 50px);
    top: 60%;
    width: 50px;
    z-index: 0;
  }
}

@keyframes wave {
  0% {
    left: 0;
    top: calc(100% - 50px);
  }

  30% {
    left: 30%;
    top: 40%;
  }

  70% {
    left: 70%;
    top: 60%;
  }

  100% {
    left: 100%;
    top: 30%;
  }
}
